.manipulate {
    display: flex;
}

.slider-name {
    align-self: center;
    margin-right: 10px;
}

.btn {
    margin: 0 2px 0 2px;
    background-color: #eeeeee;
    padding: 1px 7px 1px 7px ;
}

.btn:focus {
    outline: 0;
}

.slider {
    margin-left: 10px;
}

.slider-value {
    align-self: center;
}
