.frame {
    fill: none;
    stroke: #000;
}

.axis text {
    font: 10px sans-serif;
}

.axis line {
    fill: none;
    stroke: #777;
    stroke-dasharray: 1, 4;
}

.axis circle {
    fill: none;
    stroke: red;
    stroke-dasharray: 6, 2;
}

.axis :first-of-type circle {
    fill: none;
    stroke: #777;
    stroke-dasharray: 1, 4;
}

.line {
    fill: none;
    stroke-width: 1px;
}

#anchor-__$data.uuid$__ {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2,
h3 {
    text-align: center;
}
